TORRENT_CLIENT="azureus"

ACHIEVED_DIR="achieved"
READY_DIR="ready"

# Your choice of resolution (720 or 1080)
RES="720"
SUBS_LANG="English"

# Set to true to always download S01E01 torrents
DL_ALL_FIRST_EPS=true

# One source per line, optionnally completed by the number of pages to crawl
SOURCES="rartv 5
ettv 5"

# One show per line
SHOWS="Game of Thrones
The league"

